{padding: 0;margin: 0;}
.container{height: 100vh; width: 100vw; color: dark #ed4b8f; background-color: #ed4b8f; text-align: center; font-size:x-large: ;}
.love{ padding-top: 25%;}
#NO{color:#e98ab2;}
#YES{color: #e9e4dc;}